@{
    ViewData["Title"] = "Tree grid";
}

<div class="panel panel-success" style="margin-top: 50px;">
    <div class="panel-heading">
        <p>Test grid</p>
    </div>
    <div class="panel-body">
        <div id="dynamic-grid" class=""></div>
        <div id="dynamic-grid2"></div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $.BlackGrid.Create({
            id: 'dynamic-grid',
            tableClasses: 'table table-responsive table-bordered blackgrid',
            url: '/api/countries/',
            сolumns: [{ name: "Name", text: "Name" },
                { name: "Description", text: "Description", searchable: true }]
        },
        {
            globalSearch: true,
            minimalLength: 3
        });

        $.BlackGrid.Create({
            id: 'dynamic-grid2',
            tableClasses: 'table table-responsive table-bordered blackgrid',
            url: '/api/countries/',
            сolumns: [{ name: "Name", text: "Name", searchable: true },
                { name: "Description", text: "Description", searchable: true, visible: false }],
            enableCheckBox: true
        },
        {
            globalSearch: false
        });

        $(document).bind('BlackGrid_DownloadSuccessful', function (e, id, url) {
            //console.log('id: ' + id + '; url: ' + url);
        });

        $(document).bind('BlackGrid_SelectedRow', function (e, tableId, rowIndex) {
            //console.log($.BlackGrid.GetObject(tableId, rowIndex));
            //console.log('id: ' + tableId + '; rowIndex: ' + rowIndex);
        });
    });
</script>