@{
    ViewData["Title"] = "Tree grid";
}

<div class="panel panel-success" style="margin-top: 50px;">
    <div class="panel-heading">
        <p>Test grid</p>
    </div>
    <div class="panel-body">
        <div id="dynamic-grid" class=""></div>
        <div id="dynamic-grid2"></div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $.BlackGrid.Create({
            Id: 'dynamic-grid',
            TableClasses: 'table table-responsive table-bordered blackgrid',
            Url: '/api/countries/',
            Columns: [{ name: "Name", text: "Name", searchable: true },
                { name: "Description", text: "Description", searchable: true }]
        },
        {
            GlobalSearch: true,
            MinimalLengthOfTheSearch: 3
        });

        //$.BlackGrid.Create({
        //    Id: 'dynamic-grid2',
        //    TableClasses: 'table table-responsive table-bordered blackgrid',
        //    Url: '/api/countries/',
        //    Columns: [{ name: "Name", text: "Name", searchable: true },
        //        { name: "Description", text: "Description", searchable: true }]
        //},
        //{
        //    SaveTreeAfterSearching: false,
        //    GlobalSearch: false
        //});

        $(document).bind('BlackGrid_DownloadSuccessful', function (e, id, url) {
            //console.log('id: ' + id + '; url: ' + url);
        });

        $(document).bind('BlackGrid_SelectedRow', function (e, tableId, rowIndex) {
            //console.log($.BlackGrid.GetObject(tableId, rowIndex));
            //console.log('id: ' + tableId + '; rowIndex: ' + rowIndex);
        });
    });
</script>